@charset "UTF-8";
/*===================Aeroport===================*/
.aeroport .usluga__wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.aeroport .usluga__left {
  background-color: white;
  padding: 20px;
  border-radius: 4px; }

.aeroport__right {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0; }
  .aeroport__right--img {
    min-height: 440px;
    max-height: 440px;
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100%;
    border-radius: 4px 4px 0 0; }

.aeroport__main {
  background-color: white;
  padding: 30px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #ededed; }

.aeroport__text {
  color: #737373;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  /* Text style for "При создан" */
  letter-spacing: -0.42px; }

.struct__right {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  border: 1px solid #dddddd;
  padding: 30px;
  border-radius: 4px; }

.struct__avtor {
  color: #02225b;
  font-family: OpenSans;
  font-size: 22px;
  font-weight: 500;
  /* Text style for "Отдел авиа" */
  letter-spacing: -0.66px;
  text-align: center; }

.struct__text {
  color: #737373;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  /* Text style for "Не следует" */
  letter-spacing: -0.42px; }

.statistic {
  padding: 70px 0;
  background: url("../images/fon.jpg") no-repeat top center;
  background-size: cover; }
  .statistic__head {
    color: #ffffff;
    font-family: OpenSans;
    font-size: 36px;
    font-weight: 700;
    /* Text style for "Статистика" */
    letter-spacing: -1.08px;
    text-align: center;
    padding-bottom: 20px; }
  .statistic__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; }
  .statistic__item {
    background-color: white;
    min-height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .statistic__item:hover {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px); }
    .statistic__item--number {
      color: #262626;
      font-family: OpenSans;
      font-size: 26px;
      font-weight: 700;
      /* Text style for "309" */
      letter-spacing: -0.78px;
      margin-top: 20px; }
    .statistic__item--text {
      color: #262626;
      font-family: OpenSans;
      font-size: 21px;
      font-weight: 400;
      /* Text style for "Пассажиров" */
      letter-spacing: -0.63px; }

.portner {
  padding: 70px 0; }
  .portner__head {
    color: #262626;
    font-family: OpenSans;
    font-size: 36px;
    font-weight: 700;
    /* Text style for "Наши партн" */
    letter-spacing: -1.08px;
    text-align: center;
    padding-bottom: 50px; }
  .portner__wrapper .slick-arrow {
    z-index: 1000; }
    .portner__wrapper .slick-arrow:hover::before {
      color: #8222da !important;
      background-color: white; }
    .portner__wrapper .slick-arrow::before {
      color: white;
      background-color: #004a79;
      border-radius: 50%; }
  .portner__wrapper .slick-prev {
    -webkit-transform: scale(1.4) translateX(30px);
    -ms-transform: scale(1.4) translateX(30px);
    transform: scale(1.4) translateX(30px); }
  .portner__wrapper .slick-next {
    -webkit-transform: scale(1.4) translateX(-30px);
    -ms-transform: scale(1.4) translateX(-30px);
    transform: scale(1.4) translateX(-30px); }
  .portner__item {
    height: 200px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    border-radius: 4px;
    border: 1px solid #dddddd;
    margin: 0 10px; }
    .portner__item img {
      max-width: 100%;
      -webkit-filter: brightness(0);
      filter: brightness(1); }
    .portner__item:hover img {
      -webkit-filter: brightness(1);
      filter: brightness(1); }

.faq {
  padding: 70px 0; }
  .faq__header {
    color: #262626;
    font-family: OpenSans;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "FAQ" */
    letter-spacing: -1.08px;
    text-align: center;
    padding-bottom: 30px; }
  .faq__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0; }
  .faq__item {
    border-bottom: 1px solid #ececec; }
  .faq__head {
    padding: 10px 0; }
    .faq__head:hover {
      cursor: pointer; }
    .faq__head i {
      color: #f2bc00;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .faq__head span {
      color: #3b3b3b;
      font-family: OpenSans;
      font-size: 17px;
      font-weight: 700;
      /* Text style for "Лучшая цен" */
      letter-spacing: -0.72px;
      padding-left: 30px; }
  .faq__main {
    display: none;
    padding: 30px 20px 30px 100px; }
    .faq__main--text {
      position: relative;
      color: #737373;
      font-family: OpenSans;
      font-size: 15px;
      font-weight: 300;
      /* Text style for "Сайт рыбат" */
      letter-spacing: -0.6px; }
      .faq__main--text::before {
        content: "";
        position: absolute;
        display: block;
        width: 2px;
        height: 100%;
        background-color: #f2bd05;
        left: -30px; }
  .faq__main--active {
    display: block; }
  .faq .i__active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

/*===============Contact===============*/
.contact {
  padding: 70px 0; }
  .contact__head {
    text-align: center;
    padding-bottom: 40px;
    color: #262626;
    font-family: OpenSans;
    font-size: 28px;
    font-weight: 700;
    /* Text style for "Наша локац" */
    letter-spacing: -1.08px; }
  .contact__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 30px; }
  .contact__right .map {
    max-width: 100%;
    min-width: 100%;
    min-height: 550px; }
  .contact .card {
    margin-bottom: 20px; }
    .contact .card__head {
      background-color: #004a79c7;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 5px 10px;
      border-radius: 4px 4px 0 0; }
      .contact .card__head--left {
        color: #ffffff;
        font-family: OpenSans;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        /* Text style for "Автобус" */
        letter-spacing: -0.16px; }
      .contact .card__head--description {
        color: #ffffff;
        font-family: OpenSans;
        font-size: 23px;
        font-weight: 700;
        line-height: 28.45px;
        /* Text style for "№5" */
        letter-spacing: -0.48px;
        display: block; }
      .contact .card__head--right {
        color: #ffffff;
        font-family: OpenSans;
        font-size: 16px;
        font-weight: 700;
        line-height: 28.45px;
        /* Text style for "1000 сум" */
        letter-spacing: -0.34px; }
    .contact .card__main {
      padding: 20px; }
      .contact .card__main--item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 5px; }
        .contact .card__main--item:not(:nth-child(1)) {
          border-top: 1px solid #f3f3f3; }
      .contact .card__main--block .fa-tachometer {
        color: #2275d3;
        position: relative; }
        .contact .card__main--block .fa-tachometer::before {
          content: url("../images/layer.png");
          position: absolute;
          display: block;
          left: -20px;
          -webkit-transform: translateX(-30%);
          -ms-transform: translateX(-30%);
          transform: translateX(-30%); }
      .contact .card__main--block span {
        color: #5f5f5f;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        padding-left: 10px; }
      .contact .card__main--block img {
        display: block;
        padding-bottom: 5px; }
      .contact .card__main--block .fa-map-marker {
        color: #5f5f5f; }
      .contact .card__main--block:nth-child(3) img {
        margin-left: 10px; }

.copyright {
  background-color: #01173f; }
  .copyright__wrapper {
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .copyright__head {
    color: #ffffff;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 500; }

.megadrop {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  list-style: none;
  /* top: 53px;
  left: 0px; */
  width: 200px;
  min-height: 100px;
  text-align: left;
  margin-top: 30px;
  padding: 0;
  z-index: 99;
  overflow: hidden;
  background: rgba(241, 241, 241, 0.5); }
  .megadrop ul {
    max-width: 100%; }
    .megadrop ul li {
      border: 1px solid #e2e2e2;
      padding: 5px 10px; }
      .megadrop ul li a {
        color: black!important;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        /* Text style for "Расписание" */
        letter-spacing: 0.32px; }
       
          
          .megadrop ul li:hover{
            display: block;
            width: 100%;
            background-color:#004a79c7;
          }
          .megadrop ul li:hover a{
           
            color: white!important;
            
          }

.topmenu > li:hover .megadrop {
  opacity: 1;
  visibility: visible;
  margin-top: 6px; }

.topmenu__item:last-child .megadrop {
  right: 50px; }

.topmenu__item:last-child .topmenu__link {
  padding: 0 0 0 15px; }

.topmenu__link {
  min-width: 120px !important; }

.megadrop {
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-outs; }
  @media screen and (min-width: 1400px) {
    .topmenu__item:last-child .megadrop {
      right: 150px; }
  }
@media screen and (min-width: 1600px) {
    .topmenu__item:last-child .megadrop {
      right: 350px; }
  }