@media screen and (max-width: 768px) {
    .news__main {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .news__top{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .news__link{
        font-size: 14px;
        padding: 5px 0px;
        text-align: center;
        color: white;
    }

    .news__link--active{
        background-color: #74005f;
        color: #fff;
    }

    .portner__head {
        color: #262626;
        font-family: OpenSans;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: -1.08px;
        text-align: center;
        padding-bottom: 50px;
    }

    .swiper-button-next, .swiper-button-prev{
        display:none;
    }
    .footer .bottom__wrapper .bottom__head{
        font-size: 16px;
    }
    .footer__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap:6px ;
    }

    .footer .bottom__wrapper{
        padding: 16px 0px;
    }
    .footer__head{
        font-size: 14px;
    }
    .footer__link{
        font-size: 13px;
        line-height: 27px;
    }
    
    .social img {
        max-width: 25px;
    }
    .footer__copyright{
        font-size: 8px;
    }
    .footer__otziv{
        line-height: 40px;
        font-size: 10px;
    }
    .statistic__wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }

    .page__wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }

    .owl-carousel{
        width: 350px;
        height: 100%;
    }

    .usluga__wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }

    .usluga__right{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact__wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact .card__main--block .fa-tachometer::before{
        content: url(../images/layer2.png);
        left: 18px;
    }
    .information__block{
        display: grid;
        grid-template-columns: 1fr;
    }
    
  }