.table img{
    max-width: 60px;
    margin-left: 20px;
  }
  .table a{
    display: flex;
    justify-content: center;
  }
  
  .usluga__list--link:hover{
    background-color: #004a79c7;
    color: white;
  }
  .sidebar_active{
    background-color: #004a79c7;
    color: white;
  }
  .timetable {
    margin-top: 15px;
  }
  
  
  
  .modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('load3.gif') 
                50% 50% 
                no-repeat;
  }
  
  /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
  body.loading .modal {
    overflow: hidden;   
  }
  
  /* Anytime the body has the loading class, our
   modal element will be visible */
  body.loading .modal {
    display: block;
  }

  .social_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
  }
  .social_icons span{
    padding-right: 0;
  }