.news {
  background-image: url("../images/post-fon2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 50px;
  background-size: cover;
}
.news__item {
  background-color: #004a79;
  border-radius: 4px;
  width: 32%;
  transition: 0.3s ease;
  border: none;
  
  &:hover {
    box-shadow: 1px 9px 32px rgba(0, 0, 0, 0.3);
  }
}
.news__item--text {
  color: white;
  font-size: 14px;
  text-align: justify;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 1.4;
}
.news__item--avtor {
  color: white;
  margin-top: -22px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.news__item--date {
  background-color: white;
  color: #004a79;
  font-weight: bold;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0;
  font-weight: bold;
  /* Text style for "22.10.2019" */
  letter-spacing: 0.56px;
  position: relative;
  bottom: 11px;
  border-radius: 6px;
  display: block;
  width: 130px;
  text-align: center;
}

.news__link,
.all_news {
  margin-top: 15px;
  color: white;
  transition: 0.3s ease;

  &:hover {
    color: $ac;
  }
}
.news__link--active {
  color: white;
}
.news__item--link {
  color: white;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
  display: block;
  transition: 0.3s ease;

  &:hover {
    color: $ac;
  }
}


.news__top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 30px;
}
.news__link {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 0 45px;
  transition: 0.3s ease;
  &:hover,
  &:focus {
    color: $ac;
  }
}

.news__link--active {
  color: $ac;
  font-size: 36px;
  font-weight: 700;
}
.news__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__item--img {
  max-width: 100%;
  min-width: 100%;
  min-height: 235px;
  max-height: 235px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}
.news__item--block {
  padding: 20px;
}

.news__pagenation {
  display: flex;
  justify-content: center;
}
.news__pagenation ul {
  display: flex;
}
.news__pagenation ul li:first-child,
.news__pagenation ul li:last-child {
  border-radius: 4px;
  border: 1px solid #eaeaea;
  background-color: #f6f6f6;
}
.news__pagenation ul li a {
  display: block;
  width: 35px;
  text-align: center;
  height: 32px;
  color: #072359;
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
  /* Text style for "2" */
  letter-spacing: 0.56px;
}
.news__pagenation ul li .page__active {
  color: black !important;
  display: block;
  width: 50px;
  background-color: #072359 !important;
  color: white !important;
}



@media only screen and (max-width: 850px) {
  .news__item {
    width: 48%;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 650px) {
  .news__top {
    display: flex;
    justify-content: space-between;
    a {
      margin: 0;
      font-size: 15px;

      &.getNews {
        font-size: 18px;
      }
    }
  }
  .news__item {
    width: 90%;
    margin: 0 auto;
    max-width: 350px;
    margin-bottom: 25px;
  }
}